In [40]:
""" Download census data"""

import os
import requests

import numpy as np
import pandas as pd

# Get variable options
response = requests.get("https://api.census.gov/data/2022/acs/acs5/variables.json", timeout=20)
variables_json = response.json()

variables = pd.DataFrame.from_dict(variables_json["variables"], orient="index")
variables = variables.reset_index(names='variable')
variables_select = variables.loc[variables["group"] == "B02001"]

In [88]:
variables_select = variables.loc[variables["group"] == "B01001A"]
# variables_select[['concept','group']].drop_duplicates()
# variables_select[['variable', 'label']]
variables_select

,variable,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
21979,B01001A_002E,Estimate!!Total:!!Male:,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_002EA,B01001A_002M,B01001A_002MA",NaN
21982,B01001A_001E,Estimate!!Total:,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_001EA,B01001A_001M,B01001A_001MA",NaN
21987,B01001A_003E,Estimate!!Total:!!Male:!!Under 5 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_003EA,B01001A_003M,B01001A_003MA",NaN
21992,B01001A_004E,Estimate!!Total:!!Male:!!5 to 9 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_004EA,B01001A_004M,B01001A_004MA",NaN
21996,B01001A_005E,Estimate!!Total:!!Male:!!10 to 14 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_005EA,B01001A_005M,B01001A_005MA",NaN
21999,B01001A_006E,Estimate!!Total:!!Male:!!15 to 17 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_006EA,B01001A_006M,B01001A_006MA",NaN
22003,B01001A_007E,Estimate!!Total:!!Male:!!18 and 19 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_007EA,B01001A_007M,B01001A_007MA",NaN
22006,B01001A_008E,Estimate!!Total:!!Male:!!20 to 24 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_008EA,B01001A_008M,B01001A_008MA",NaN
22009,B01001A_009E,Estimate!!Total:!!Male:!!25 to 29 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_009EA,B01001A_009M,B01001A_009MA",NaN
22184,B01001A_021E,Estimate!!Total:!!Female:!!15 to 17 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_021EA,B01001A_021M,B01001A_021MA",NaN
22186,B01001A_022E,Estimate!!Total:!!Female:!!18 and 19 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_022EA,B01001A_022M,B01001A_022MA",NaN
22188,B01001A_024E,Estimate!!Total:!!Female:!!25 to 29 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_024EA,B01001A_024M,B01001A_024MA",NaN
22189,B01001A_023E,Estimate!!Total:!!Female:!!20 to 24 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_023EA,B01001A_023M,B01001A_023MA",NaN
22191,B01001A_025E,Estimate!!Total:!!Female:!!30 to 34 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_025EA,B01001A_025M,B01001A_025MA",NaN
22193,B01001A_026E,Estimate!!Total:!!Female:!!35 to 44 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_026EA,B01001A_026M,B01001A_026MA",NaN
22196,B01001A_027E,Estimate!!Total:!!Female:!!45 to 54 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_027EA,B01001A_027M,B01001A_027MA",NaN
22201,B01001A_028E,Estimate!!Total:!!Female:!!55 to 64 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_028EA,B01001A_028M,B01001A_028MA",NaN
22206,B01001A_029E,Estimate!!Total:!!Female:!!65 to 74 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_029EA,B01001A_029M,B01001A_029MA",NaN
22271,B01001A_030E,Estimate!!Total:!!Female:!!75 to 84 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_030EA,B01001A_030M,B01001A_030MA",NaN
22276,B01001A_031E,Estimate!!Total:!!Female:!!85 years and over,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_031EA,B01001A_031M,B01001A_031MA",NaN
22283,B01001A_010E,Estimate!!Total:!!Male:!!30 to 34 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_010EA,B01001A_010M,B01001A_010MA",NaN
22287,B01001A_011E,Estimate!!Total:!!Male:!!35 to 44 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_011EA,B01001A_011M,B01001A_011MA",NaN
22291,B01001A_013E,Estimate!!Total:!!Male:!!55 to 64 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_013EA,B01001A_013M,B01001A_013MA",NaN
22292,B01001A_012E,Estimate!!Total:!!Male:!!45 to 54 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_012EA,B01001A_012M,B01001A_012MA",NaN
22298,B01001A_014E,Estimate!!Total:!!Male:!!65 to 74 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_014EA,B01001A_014M,B01001A_014MA",NaN
22303,B01001A_015E,Estimate!!Total:!!Male:!!75 to 84 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_015EA,B01001A_015M,B01001A_015MA",NaN
22310,B01001A_016E,Estimate!!Total:!!Male:!!85 years and over,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_016EA,B01001A_016M,B01001A_016MA",NaN
22315,B01001A_017E,Estimate!!Total:!!Female:,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_017EA,B01001A_017M,B01001A_017MA",NaN
22317,B01001A_018E,Estimate!!Total:!!Female:!!Under 5 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_018EA,B01001A_018M,B01001A_018MA",NaN
22320,B01001A_019E,Estimate!!Total:!!Female:!!5 to 9 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_019EA,B01001A_019M,B01001A_019MA",NaN
22391,B01001A_020E,Estimate!!Total:!!Female:!!10 to 14 years,Sex by Age (White Alone),int,B01001A,0,NaN,NaN,"B01001A_020EA,B01001A_020M,B01001A_020MA",NaN

In [74]:
for i in variables_select['label']:
    print(i,"\n")

Estimate!!Total:!!Male:

Estimate!!Total:

Estimate!!Total:!!Male:!!Under 5 years

Estimate!!Total:!!Male:!!5 to 9 years

Estimate!!Total:!!Male:!!10 to 14 years

Estimate!!Total:!!Male:!!15 to 17 years

Estimate!!Total:!!Male:!!18 and 19 years

Estimate!!Total:!!Male:!!20 to 24 years

Estimate!!Total:!!Male:!!25 to 29 years

Estimate!!Total:!!Female:!!15 to 17 years

Estimate!!Total:!!Female:!!18 and 19 years

Estimate!!Total:!!Female:!!25 to 29 years

Estimate!!Total:!!Female:!!20 to 24 years

Estimate!!Total:!!Female:!!30 to 34 years

Estimate!!Total:!!Female:!!35 to 44 years

Estimate!!Total:!!Female:!!45 to 54 years

Estimate!!Total:!!Female:!!55 to 64 years

Estimate!!Total:!!Female:!!65 to 74 years

Estimate!!Total:!!Female:!!75 to 84 years

Estimate!!Total:!!Female:!!85 years and over

Estimate!!Total:!!Male:!!30 to 34 years

Estimate!!Total:!!Male:!!35 to 44 years

Estimate!!Total:!!Male:!!55 to 64 years

Estimate!!Total:!!Male:!!45 to 54 years

Estimate!!Total:!!Male:!!65 to 74 years

Estimate!!Total:!!Male:!!75 to 84 years

Estimate!!Total:!!Male:!!85 years and over

Estimate!!Total:!!Female:

Estimate!!Total:!!Female:!!Under 5 years

Estimate!!Total:!!Female:!!5 to 9 years

Estimate!!Total:!!Female:!!10 to 14 years