In [4]:
""" Download census data"""

import os
import requests

import numpy as np
import pandas as pd
from dotenv import load_dotenv

ACS_URL = "https://api.census.gov/data/2022/acs/acs5"

# Authentication
load_dotenv()
census_api_key = os.getenv("census_api_key")


ACS_URL = "https://api.census.gov/data/2022/acs/acs5"

# Get variable options
response = requests.get("https://api.census.gov/data/2022/acs/acs5/variables.json", timeout=20)
variables_json = response.json()

variables = pd.DataFrame.from_dict(variables_json["variables"], orient="index")
variables = variables.reset_index(names='variable')

In [5]:
# B01001: Sex by Age
variables_select = variables.loc[variables["group"] == "B01001"]
variables_select

,variable,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
17266,B01001_012E,Estimate!!Total:!!Male:!!30 to 34 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_012EA,B01001_012M,B01001_012MA",NaN
17271,B01001_011E,Estimate!!Total:!!Male:!!25 to 29 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_011EA,B01001_011M,B01001_011MA",NaN
17275,B01001_014E,Estimate!!Total:!!Male:!!40 to 44 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_014EA,B01001_014M,B01001_014MA",NaN
17279,B01001_013E,Estimate!!Total:!!Male:!!35 to 39 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_013EA,B01001_013M,B01001_013MA",NaN
17285,B01001_016E,Estimate!!Total:!!Male:!!50 to 54 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_016EA,B01001_016M,B01001_016MA",NaN
17289,B01001_015E,Estimate!!Total:!!Male:!!45 to 49 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_015EA,B01001_015M,B01001_015MA",NaN
17298,B01001_019E,Estimate!!Total:!!Male:!!62 to 64 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_019EA,B01001_019M,B01001_019MA",NaN
17300,B01001_017E,Estimate!!Total:!!Male:!!55 to 59 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_017EA,B01001_017M,B01001_017MA",NaN
17304,B01001_018E,Estimate!!Total:!!Male:!!60 and 61 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_018EA,B01001_018M,B01001_018MA",NaN
17404,B01001_020E,Estimate!!Total:!!Male:!!65 and 66 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_020EA,B01001_020M,B01001_020MA",NaN
17413,B01001_022E,Estimate!!Total:!!Male:!!70 to 74 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_022EA,B01001_022M,B01001_022MA",NaN
17417,B01001_021E,Estimate!!Total:!!Male:!!67 to 69 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_021EA,B01001_021M,B01001_021MA",NaN
17423,B01001_024E,Estimate!!Total:!!Male:!!80 to 84 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_024EA,B01001_024M,B01001_024MA",NaN
17426,B01001_023E,Estimate!!Total:!!Male:!!75 to 79 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_023EA,B01001_023M,B01001_023MA",NaN
17430,B01001_026E,Estimate!!Total:!!Female:,Sex by Age,int,B01001,0,NaN,NaN,"B01001_026EA,B01001_026M,B01001_026MA",NaN
17434,B01001_025E,Estimate!!Total:!!Male:!!85 years and over,Sex by Age,int,B01001,0,NaN,NaN,"B01001_025EA,B01001_025M,B01001_025MA",NaN
17438,B01001_028E,Estimate!!Total:!!Female:!!5 to 9 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_028EA,B01001_028M,B01001_028MA",NaN
17441,B01001_029E,Estimate!!Total:!!Female:!!10 to 14 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_029EA,B01001_029M,B01001_029MA",NaN
17444,B01001_027E,Estimate!!Total:!!Female:!!Under 5 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_027EA,B01001_027M,B01001_027MA",NaN
17554,B01001_030E,Estimate!!Total:!!Female:!!15 to 17 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_030EA,B01001_030M,B01001_030MA",NaN
17561,B01001_032E,Estimate!!Total:!!Female:!!20 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_032EA,B01001_032M,B01001_032MA",NaN
17566,B01001_031E,Estimate!!Total:!!Female:!!18 and 19 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_031EA,B01001_031M,B01001_031MA",NaN
17567,B01001_034E,Estimate!!Total:!!Female:!!22 to 24 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_034EA,B01001_034M,B01001_034MA",NaN
17571,B01001_033E,Estimate!!Total:!!Female:!!21 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_033EA,B01001_033M,B01001_033MA",NaN
17575,B01001_036E,Estimate!!Total:!!Female:!!30 to 34 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_036EA,B01001_036M,B01001_036MA",NaN
17581,B01001_035E,Estimate!!Total:!!Female:!!25 to 29 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_035EA,B01001_035M,B01001_035MA",NaN
17586,B01001_038E,Estimate!!Total:!!Female:!!40 to 44 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_038EA,B01001_038M,B01001_038MA",NaN
17591,B01001_037E,Estimate!!Total:!!Female:!!35 to 39 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_037EA,B01001_037M,B01001_037MA",NaN
17598,B01001_039E,Estimate!!Total:!!Female:!!45 to 49 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_039EA,B01001_039M,B01001_039MA",NaN
17676,B01001_040E,Estimate!!Total:!!Female:!!50 to 54 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_040EA,B01001_040M,B01001_040MA",NaN
17687,B01001_042E,Estimate!!Total:!!Female:!!60 and 61 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_042EA,B01001_042M,B01001_042MA",NaN
17692,B01001_041E,Estimate!!Total:!!Female:!!55 to 59 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_041EA,B01001_041M,B01001_041MA",NaN
17697,B01001_044E,Estimate!!Total:!!Female:!!65 and 66 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_044EA,B01001_044M,B01001_044MA",NaN
17700,B01001_043E,Estimate!!Total:!!Female:!!62 to 64 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_043EA,B01001_043M,B01001_043MA",NaN
17704,B01001_046E,Estimate!!Total:!!Female:!!70 to 74 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_046EA,B01001_046M,B01001_046MA",NaN
17707,B01001_045E,Estimate!!Total:!!Female:!!67 to 69 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_045EA,B01001_045M,B01001_045MA",NaN
17710,B01001_048E,Estimate!!Total:!!Female:!!80 to 84 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_048EA,B01001_048M,B01001_048MA",NaN
17712,B01001_047E,Estimate!!Total:!!Female:!!75 to 79 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_047EA,B01001_047M,B01001_047MA",NaN
17716,B01001_049E,Estimate!!Total:!!Female:!!85 years and over,Sex by Age,int,B01001,0,NaN,NaN,"B01001_049EA,B01001_049M,B01001_049MA",NaN
18200,B01001_002E,Estimate!!Total:!!Male:,Sex by Age,int,B01001,0,NaN,NaN,"B01001_002EA,B01001_002M,B01001_002MA",NaN
18204,B01001_001E,Estimate!!Total:,Sex by Age,int,B01001,0,NaN,NaN,"B01001_001EA,B01001_001M,B01001_001MA",NaN
18208,B01001_004E,Estimate!!Total:!!Male:!!5 to 9 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_004EA,B01001_004M,B01001_004MA",NaN
18213,B01001_003E,Estimate!!Total:!!Male:!!Under 5 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_003EA,B01001_003M,B01001_003MA",NaN
18217,B01001_006E,Estimate!!Total:!!Male:!!15 to 17 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_006EA,B01001_006M,B01001_006MA",NaN
18221,B01001_007E,Estimate!!Total:!!Male:!!18 and 19 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_007EA,B01001_007M,B01001_007MA",NaN
18225,B01001_005E,Estimate!!Total:!!Male:!!10 to 14 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_005EA,B01001_005M,B01001_005MA",NaN
18235,B01001_009E,Estimate!!Total:!!Male:!!21 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_009EA,B01001_009M,B01001_009MA",NaN
18241,B01001_008E,Estimate!!Total:!!Male:!!20 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_008EA,B01001_008M,B01001_008MA",NaN
18325,B01001_010E,Estimate!!Total:!!Male:!!22 to 24 years,Sex by Age,int,B01001,0,NaN,NaN,"B01001_010EA,B01001_010M,B01001_010MA",NaN

In [8]:
list(variables.loc[variables["group"] == "B01001",'variable'])

['B01001_012E',
 'B01001_011E',
 'B01001_014E',
 'B01001_013E',
 'B01001_016E',
 'B01001_015E',
 'B01001_019E',
 'B01001_017E',
 'B01001_018E',
 'B01001_020E',
 'B01001_022E',
 'B01001_021E',
 'B01001_024E',
 'B01001_023E',
 'B01001_026E',
 'B01001_025E',
 'B01001_028E',
 'B01001_029E',
 'B01001_027E',
 'B01001_030E',
 'B01001_032E',
 'B01001_031E',
 'B01001_034E',
 'B01001_033E',
 'B01001_036E',
 'B01001_035E',
 'B01001_038E',
 'B01001_037E',
 'B01001_039E',
 'B01001_040E',
 'B01001_042E',
 'B01001_041E',
 'B01001_044E',
 'B01001_043E',
 'B01001_046E',
 'B01001_045E',
 'B01001_048E',
 'B01001_047E',
 'B01001_049E',
 'B01001_002E',
 'B01001_001E',
 'B01001_004E',
 'B01001_003E',
 'B01001_006E',
 'B01001_007E',
 'B01001_005E',
 'B01001_009E',
 'B01001_008E',
 'B01001_010E']

In [9]:
params = {
    "get": f"NAME,B01001A_001E",
    "for": "county:*",
    "key": census_api_key
}
response = requests.get(ACS_URL, params=params, timeout=20)

data = response.json()

data_df = pd.DataFrame(data[1:], columns=data[0])
data_df

                                  NAME B01001A_001E state county
0              Autauga County, Alabama        43747    01    001
1              Baldwin County, Alabama       195998    01    003
2              Barbour County, Alabama        11309    01    005
3                 Bibb County, Alabama        16872    01    007
4               Blount County, Alabama        53941    01    009
...                                ...          ...   ...    ...
3217  Vega Baja Municipio, Puerto Rico        21954    72    145
3218    Vieques Municipio, Puerto Rico         1813    72    147
3219   Villalba Municipio, Puerto Rico         8732    72    149
3220    Yabucoa Municipio, Puerto Rico         2393    72    151
3221      Yauco Municipio, Puerto Rico        24982    72    153

[3222 rows x 4 columns]

In [14]:
data_df.loc[data_df['state'] == "09"]

,NAME,B01001A_001E,state,county
309,"Capitol Planning Region, Connecticut",654037,09,110
310,"Greater Bridgeport Planning Region, Connecticut",213952,09,120
311,Lower Connecticut River Valley Planning Region...,147012,09,130
312,"Naugatuck Valley Planning Region, Connecticut",311573,09,140
313,"Northeastern Connecticut Planning Region, Conn...",81504,09,150
314,"Northwest Hills Planning Region, Connecticut",92804,09,160
315,"South Central Connecticut Planning Region, Con...",385872,09,170
316,"Southeastern Connecticut Planning Region, Conn...",221146,09,180
317,"Western Connecticut Planning Region, Connecticut",414266,09,190